In [1]:
##**importing libraries

import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

from pandas.io.json import json_normalize
!pip install beautifulsoup4 
from bs4 import BeautifulSoup

import requests
!pip install lxml
!pip install html5lib

Requirement already satisfied: beautifulsoup4 in c:\users\gupta\anaconda3\lib\site-packages (4.6.3)
Requirement already satisfied: lxml in c:\users\gupta\anaconda3\lib\site-packages (4.2.5)
Requirement already satisfied: html5lib in c:\users\gupta\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: six>=1.9 in c:\users\gupta\anaconda3\lib\site-packages (from html5lib) (1.12.0)
Requirement already satisfied: webencodings in c:\users\gupta\anaconda3\lib\site-packages (from html5lib) (0.5.1)

### scraping the data to dataframe

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
postal_code = pd.read_html(url)[0]

Adding heading and removing the first row that got heading while scrapping

In [3]:
postal_code.columns = ['Postcode', 'Borough', 'Neighbourhood']

In [4]:
postal_code.drop([0], axis =0, inplace=True)

The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [5]:
postal_code.head()

  Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [6]:
pcode_br_assigned =postal_code[ postal_code['Borough'] != 'Not assigned' ]
pcode_br_assigned.head()

  Postcode           Borough     Neighbourhood
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront
6      M5A  Downtown Toronto       Regent Park
7      M6A        North York  Lawrence Heights

More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [10]:
pcode_br_assigned = pcode_br_assigned.groupby(['Postcode','Borough'], sort = False).agg(lambda x: ','.join(x))

In [11]:
pcode_br_assigned.head(10)

                                             Neighbourhood
Postcode Borough
M3A      North York                              Parkwoods
M4A      North York                       Victoria Village
M5A      Downtown Toronto         Harbourfront,Regent Park
M6A      North York        Lawrence Heights,Lawrence Manor
M7A      Queen's Park                         Queen's Park
M9A      Etobicoke                        Islington Avenue
M1B      Scarborough                         Rouge,Malvern
M3B      North York                        Don Mills North
M4B      East York          Woodbine Gardens,Parkview Hill
M5B      Downtown Toronto          Ryerson,Garden District

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

In [12]:
for index, row in pcode_br_assigned.iterrows():
    if pcode_br_assigned['Neighbourhood'][index] == 'Not assigned':
        pcode_br_assigned['Neighbourhood'][index] = pcode_br_assigned['Borough'][index]

In [13]:
pcode_br_assigned.head(10)

                                             Neighbourhood
Postcode Borough
M3A      North York                              Parkwoods
M4A      North York                       Victoria Village
M5A      Downtown Toronto         Harbourfront,Regent Park
M6A      North York        Lawrence Heights,Lawrence Manor
M7A      Queen's Park                         Queen's Park
M9A      Etobicoke                        Islington Avenue
M1B      Scarborough                         Rouge,Malvern
M3B      North York                        Don Mills North
M4B      East York          Woodbine Gardens,Parkview Hill
M5B      Downtown Toronto          Ryerson,Garden District

Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making. <Done>
In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [14]:
pcode_br_assigned.shape

(103, 1)